In [1]:
from preprocessing import *

import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.metrics.pairwise import cosine_similarity

from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score, recall_score

In [2]:
# What raw data looks like
pd.read_csv('../fake reviews dataset.csv')

,category,rating,label,text_
0,Home_and_Kitchen_5,5.0,CG,"Love this! Well made, sturdy, and very comfort..."
1,Home_and_Kitchen_5,5.0,CG,"love it, a great upgrade from the original. I..."
2,Home_and_Kitchen_5,5.0,CG,This pillow saved my back. I love the look and...
3,Home_and_Kitchen_5,1.0,CG,"Missing information on how to use it, but it i..."
4,Home_and_Kitchen_5,5.0,CG,Very nice set. Good quality. We have had the s...
...,...,...,...,...
40427,Clothing_Shoes_and_Jewelry_5,4.0,OR,I had read some reviews saying that this bra r...
40428,Clothing_Shoes_and_Jewelry_5,5.0,CG,I wasn't sure exactly what it would be. It is ...
40429,Clothing_Shoes_and_Jewelry_5,2.0,OR,"You can wear the hood by itself, wear it with ..."
40430,Clothing_Shoes_and_Jewelry_5,1.0,CG,I liked nothing about this dress. The only rea...
40431,Clothing_Shoes_and_Jewelry_5,5.0,OR,I work in the wedding industry and have to wor...

In [3]:
df = prepare_data()
df

[nltk_data] Downloading package punkt to /Users/yijia/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /Users/yijia/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,category,rating,label,text
1,1,5.0,CG,love exclam well made sturdi comfort i love ex...
2,1,5.0,CG,love great upgrad origin i quotat mine coupl year
3,1,5.0,CG,thi pillow save back i love look feel pillow
4,1,1.0,CG,miss inform use great product price exclam i
5,1,5.0,CG,veri nice set good qualiti we set two month
...,...,...,...,...
40428,0,4.0,OR,i read review say bra ran small i order two ba...
40429,1,5.0,CG,i quotat sure exactli would it littl larg smal...
40430,0,2.0,OR,you wear hood wear hood wear jacket without ho...
40431,1,1.0,CG,i like noth dress the reason i gave star i ord...
40432,0,5.0,OR,i work wed industri work long day feet outsid ...

In [4]:
df.describe(include='all')

,category,rating,label,text
count,40432.000000,40432,40432,40432
unique,NaN,5,2,40368
top,NaN,5.0,CG,div quotat quotat input quotationhidden quotat...
freq,NaN,24559,20216,7
mean,0.500000,NaN,NaN,NaN
std,0.500006,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN
25%,0.000000,NaN,NaN,NaN
50%,0.500000,NaN,NaN,NaN
75%,1.000000,NaN,NaN,NaN
max,1.000000,NaN,NaN,NaN

In [5]:
df.loc[df['rating'] == np.nan]

Empty DataFrame
Columns: [category, rating, label, text]
Index: []

In [6]:
# Convert summary to a matrix of token counts
cv = CountVectorizer()
count_matrix = cv.fit_transform(df['text'])
X = count_matrix

print(count_matrix.shape)
count_matrix.toarray()

(40432, 27065)

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [7]:
# from sklearn.feature_extraction.text import TfidfTransformer
# transformer = TfidfTransformer(smooth_idf=False)
# tfidf = transformer.fit_transform(X)
# X = tfidf.toarray()
# X.shape

In [8]:
# from sklearn.decomposition import PCA
# pca = PCA(n_components='mle')
# pca.fit(X)

In [9]:
y = df['category']
y.head()

1    1
2    1
3    1
4    1
5    1
Name: category, dtype: int64

In [10]:
# X = X[:10000, :]
# X.shape
# y = y.iloc[:10000]
# y.shape

In [11]:
# Splitting data
X, x_test, y, y_test = train_test_split(X, y, test_size=0.5)

In [12]:
logModel = LogisticRegression(random_state=0).fit(X, y)

/Users/yijia/Programs/cs7641-ml/ML-7641-Project/env/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [13]:
y_pred_tran = logModel.predict(X)
y_pred_test = logModel.predict(x_test)

In [14]:
print('accuracy of training set:\t %f'  % accuracy_score(y, y_pred_tran))
print('accuracy of test set:\t\t %f'    % accuracy_score(y_test, y_pred_test))
print('F1-score of training set:\t %f'  % f1_score(y, y_pred_tran))
print('F1-score of test set:\t\t %f'    % f1_score(y_test, y_pred_test))
print('precision of training set:\t %f' % precision_score(y, y_pred_tran))
print('precision of test set:\t\t %f'   % precision_score(y_test, y_pred_test))
print('reacll of training set:\t\t %f'  % recall_score(y, y_pred_tran))
print('reacll of test set:\t\t %f'      % recall_score(y_test, y_pred_test))
print('AUC-score of training set:\t %f' % roc_auc_score(y, y_pred_tran))
print('AUC-score of test set:\t\t %f'   % roc_auc_score(y_test, y_pred_test))

accuracy of training set:	 0.942224
accuracy of test set:		 0.871785
F1-score of training set:	 0.941971
F1-score of test set:		 0.873462
precision of training set:	 0.941878
precision of test set:		 0.865937
reacll of training set:		 0.942065
reacll of test set:		 0.881119
AUC-score of training set:	 0.942223
AUC-score of test set:		 0.871743